{% load static %}
<footer class="footer">
  <div class="footer__column">
    <div>
      <div class="footer__top-row">
        <div class="footer__logo-container container-xs">
          <img src="{% static 'images/img_logo_2.png' %}" alt="Secondary Logo" class="footer__logo" />
          <div class="footer__nav-container">
            <ul class="footer__nav-list">
              <li>
                <a href="{% url 'home' %}" target="_blank" rel="noreferrer">
                  <p class="ui text size-textmd">Home</p>
                </a>
              </li>
              <li>
                <a href="{% url 'about' %}" target="_blank" rel="noreferrer">
                  <p class="ui text size-textmd">About</p>
                </a>
              </li>
              <li>
                <a href="{% url 'scenario_analysis' %}">
                  <p class="ui text size-textmd">Scenarios Analysis</p>
                </a>
              </li>
              <li>
                <a href="{% url 'best_practices' %}">
                  <p class="ui text size-textmd">Resources & Management</p>
                </a>
              </li>
              <li>
                <a href="{% url 'contact' %}" target="_blank" rel="noreferrer">
                  <p class="ui text size-textmd">Support</p>
                </a>
              </li>
            </ul>
            <div class="footer__social-container">
              <img
                src="{% static 'images/img_facebook.svg' %}"
                alt="Facebook Icon"
                class="footer__social-icon--facebook"
              />
              <img src="{% static 'images/img_link.svg' %}" alt="Linkedin Icon" class="footer__social-icon--facebook" />
              <img src="{% static 'images/img_vector.svg' %}" alt="Twitter Icon" class="footer__social-icon--facebook" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="footer__bottom-row">
        <div class="footer__info-container container-xs">
          <div class="footer__info-zipcode">
            <p class="ui text size-textmd">2024</p>
            <img src="{% static 'images/img_copyright.svg' %}" alt="Copyright Icon" class="footer__copyright-icon" />
            <p class="ui text size-textmd">All rights reserved. Futural project</p>
          </div>
          <a href="https://futural-project.eu/el/privacy-policy/" class="terms-link-link">
            <p class="ui text size-textmd">Privacy Policy</p>
          </a>
          <div class="footer__qr-container">
            <img src="{% static 'images/img_qrcode.png' %}" alt="Qr Code" class="footer__qr-code" />
            <img src="{% static 'images/img_en_fundedbytheeu_rgb_pos.png' %}" alt="Eu Logo" class="footer__eu-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>