{% load static %}
<footer class="footer" style="padding-top: 20%;">
  <div class="footer__column">
    <div>
      <div class="footer__top-row">
        <div class="footer__logo-container container-xs">
          <img src="{% static 'images/img_logo_2.png' %}" alt="Secondary Logo" class="footer__logo" />
          <div class="footer__nav-container">
            <ul class="footer__nav-list">
              <!-- <li>
                <a href="{% url 'home' %}" target="_blank" rel="noreferrer">
                  <p class="ui text size-textmd">Home</p>
                </a>
              </li> -->
              <li>
                <a href="{% url 'about' %}" target="_blank" rel="noreferrer">
                  <p class="ui text size-textmd">About</p>
                </a>
              </li>
              <li>
                <a href="{% url 'scenario_analysis' %}">
                  <p class="ui text size-textmd">Scenarios Analysis</p>
                </a>
              </li>
              <li>
                <a href="{% url 'vacant_buildings' %}">
                  <p class="ui text size-textmd">Vacant Buildings</p>
                </a>
              </li>
              <li>
                <a href="{% url 'best_practices' %}">
                  <p class="ui text size-textmd">Resources & Management</p>
                </a>
              </li>
              <li>
                <a href="{% url 'contact' %}" target="_blank" rel="noreferrer">
                  <p class="ui text size-textmd">Support</p>
                </a>
              </li>
            </ul>
            <div class="footer__social-container">
              <a href="https://www.facebook.com/FUTURAL.project/" target="_blank" rel="noopener noreferrer">
                <img
                  src="{% static 'images/img_facebook.svg' %}"
                  alt="Facebook Icon"
                  class="footer__social-icon--facebook"
                />
              </a>
              <a href="https://www.linkedin.com/company/futural-project/" target="_blank" rel="noopener noreferrer">
                <img 
                  src="{% static 'images/img_link.svg' %}" 
                  alt="LinkedIn Icon" 
                  class="footer__social-icon--facebook" 
                />
              </a>
              <a href="https://x.com/FUTURALproject/" target="_blank" rel="noopener noreferrer">
                <img src="https://i.postimg.cc/D0fbdPpk/x-new-twitter-logo-free-png.png" alt="X (Twitter) Icon" class="footer__social-icon--facebook" />
              </a>            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="footer__bottom-row">
        <div class="footer__info-container container-xs">
          <div class="footer__info-zipcode">
            <p class="ui text size-textmd">2024</p>
            <img src="{% static 'images/img_copyright.svg' %}" alt="Copyright Icon" class="footer__copyright-icon" />
            <p class="ui text size-textmd">All rights reserved. Futural project</p>
          </div>
          <a href="https://futural-project.eu/el/privacy-policy/" class="terms-link-link">
            <p class="ui text size-textmd">Privacy Policy</p>
          </a>
          <div class="footer__qr-container">
            <img src="https://i.postimg.cc/tCzM4vyp/mandant.png" alt="Pongau" class="footer__qr-code"/>
            <img src="{% static 'images/img_group_1194.png' %}" alt="Alchemia" class="footer__qr-code"/>
            <img src="{% static 'images/img_qrcode.png' %}" alt="Qr Code" class="footer__qr-code"/>
            <img src="{% static 'images/img_en_fundedbytheeu_rgb_pos.png' %}" alt="Eu Logo" class="footer__eu-logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  function adjustFooterForMobile() {
  const footer = document.querySelector('.footer');
  const contentHeight = document.body.offsetHeight;
  const windowHeight = window.innerHeight;

  if (contentHeight < windowHeight) {
    footer.style.position = 'fixed';
    footer.style.bottom = '0';
    footer.style.width = '100%';
  } else {
    footer.style.position = 'static';
  }
}

// Call this function after content is dynamically rendered
adjustFooterForMobile();

// Re-run when the window is resized
window.addEventListener('resize', adjustFooterForMobile);

</script>