{% load static %}
<header class="header">
  <img src="{% static 'images/img_header_logo.png' %}" alt="Headerlogo" class="header__logo" />
  <ul class="header__menu">
    <li>
      <a href="#">
        <div class="header__menu-item">
          <p class="header__menu-link ui heading size-headingxs">Home</p>
          <div class="header__menu-view"></div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <p class="ui text size-textxs">About</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p class="ui text size-textxs">Scenarios Analysis</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p class="ui text size-textxs">Best Practices</p>
      </a>
    </li>
    <li>
      <a href="#">
        <p class="ui text size-textxs">Contact</p>
      </a>
    </li>
  </ul>
</header>
