{% load static %}

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Über Kreislauf-Bioökonomie - Förderung nachhaltiger Ressourcenverwaltung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Entdecken Sie die Kreislauf-Bioökonomie SS, entwickelt von Alchemia zur Unterstützung der MAP im Pongau. Erkunden Sie Entscheidungshilfen, Mind-Mapping-Techniken und Multi-Kriterien-Analysen für nachhaltiges Ressourcenmanagement."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/FAbout.css' %}" />
  </head>
  <body>
    <div class="f-contact">
      <!-- header navigation section -->
      {% include "navbar.html" %}
      
      <div class="columnvectorfif">
        <!-- hero banner section -->
        <div class="stackcircular">
          <div class="section container-xs">
            <div class="section__row">
              <div class="section__column">
                <p class="section__title ui text size-text6xl">Kreislauf-Bioökonomie</p>
                <p class="section__description ui text size-text2xl">
                  Nachhaltigkeit durch intelligentes Ressourcenmanagement vorantreiben – Abfall in wertvolle Ressourcen für eine grünere Zukunft im Pongau verwandeln.
                </p>
              </div>
            </div>
          </div>
          <img src="{% static 'images/img_vector_50.png' %}" alt="Vector Image" class="image__vectorfifty-one" />
        </div>
        <div class="rowvectorfiftyo">
          <!-- main content section -->
          <div class="stackvectorfift-1">
            <img src="{% static 'images/img_vector_51.png' %}" alt="Vector Image 51" class="stackvectorfift__image--vector51" />
            <img src="{% static 'images/img_vector_53.png' %}" alt="Vector Image 53" class="stackvectorfift__image--vector53" />
            <div class="stackvectorfift__column">
              <div id="futural" class="stackvectorfift__column--introduct">
                <p class="best-practice-info__title ui text size-text3xl">FUTURAL</p>
                <p class="stackvectorfift__text--description ui text size-textxl">
                  FUTURAL ist ein EU-gefördertes Projekt, das nachhaltige ländliche Entwicklung durch innovative Smart Solutions vorantreibt. Es konzentriert sich auf den Aufbau resilienter Kreislaufsysteme, die lokale Herausforderungen in Chancen verwandeln. Durch Co-Creation mit regionalen Akteuren entwickelt FUTURAL Strategien für Ressourceneffizienz, Abfallreduzierung und klimafreundliche Praktiken. Durch Zusammenarbeit, Kapazitätsaufbau und datengestützte Entscheidungsfindung befähigt FUTURAL ländliche Regionen, zirkuläre Prinzipien für eine grünere, wohlhabendere Zukunft zu übernehmen.
                </p>
              </div>
              <div id="pongau" class="stackvectorfift__column--introduct">
                <p class="best-practice-info__title ui text size-text3xl">Die Region Pongau</p>
                <p class="stackvectorfift__text--description ui text size-textxl">
                  Die Region Pongau im Herzen Österreichs ist ein dynamisches Gebiet, in dem Tourismus und Landwirtschaft die lokale Wirtschaft prägen. Der Regionalverband Pongau, der 25 Gemeinden betreut, steht vor erheblichen Herausforderungen aufgrund starker saisonaler Schwankungen bei der Abfallerzeugung durch intensiven Tourismus. Um diese Probleme anzugehen, wurde die Circular Bioeconomy Smart Solution als Rahmen für die nachhaltige Bewirtschaftung wichtiger Abfallströme mit Fokus auf Klärschlamm entwickelt. Durch die Förderung von Kreislaufwirtschaftsprinzipien hilft die Lösung, Abfall zu reduzieren, die Ressourceneffizienz zu verbessern und ein nachhaltigeres Modell der regionalen Entwicklung zu unterstützen.
                </p>
              </div>
              <div id="smart-solution" class="stackvectorfift__column--introduct">
                <p class="best-practice-info__title ui text size-text3xl">Die Circular Bioeconomy Smart Solution</p>
                <p class="stackvectorfift__text--description ui text size-textxl">
                  Das Ziel der Circular Bioeconomy Smart Solution ist es, den Übergang zu einer zirkulären Bioökonomie in der Region Pongau zu unterstützen, indem sie den Akteuren ein umfassendes Entscheidungsinstrument zur Verfügung stellt. Sie fördert eine nachhaltige regionale Entwicklung, indem sie die Vorteile alternativer Verwertungswege für bestehende Ressourcen aufzeigt und fundierte Entscheidungen ermöglicht, die Ressourceneffizienz steigern, Abfälle reduzieren und wirtschaftlichen, ökologischen und sozialen Mehrwert für die Gemeinschaft schaffen. Darüber hinaus bietet sie Orientierung für die Umnutzung untergenutzer Räume nach Kreislaufwirtschaftsprinzipien, um den Übergang zu einer nachhaltigeren regionalen Entwicklung zu unterstützen.
                </p>
              </div>
              <div id="overview" class="stackvectorfift__column--introduct">
                <p class="best-practice-info__title ui text size-text3xl">Überblick &amp; Ansatz</p>
                <p class="stackvectorfift__text--description ui text size-textxl">
                  In einer Reihe von Co-Creation- und Capacity-Building-Workshops haben wir drei zentrale Reststoffströme analysiert – Aschen aus Biomasseheizwerken, Klärschlamm aus der Abwasserbehandlung und Lebensmittelabfälle aus dem Tourismus – um alternative Verwertungswege zu identifizieren. Der Prozess begann mit Mind-Mapping von Ressourcenflüssen zur Darstellung möglicher Umwandlungsrouten, gefolgt von einer Materialflussanalyse zur Quantifizierung dieser Ströme. Anschließend visualisierten wir verschiedene Szenarien der zirkulären Bioökonomie mithilfe von Sankey-Diagrammen, die Ressourcenwege transparent und vergleichbar machten. Schließlich wandten wir eine multikriterielle Entscheidungsanalyse an, um ausgewählte Optionen anhand von Kreislaufpotenzial, technischer Machbarkeit und wirtschaftlichen Faktoren zu bewerten. Die Einbindung regionaler Akteure war entscheidend, um Szenarien zu verfeinern und praktische Ergebnisse zu gewährleisten.
                </p>
              </div>
              <div id="impact" class="stackvectorfift__column--one_one">
                <div class="stackvectorfift__column--introduct">
                  <p class="best-practice-info__title ui text size-text3xl">Reichweite &amp; Wirkung</p>
                  <p class="stackvectorfift__text--description ui text size-textxl">
                    Die Circular Bioeconomy Smart Solution liefert praktische Einblicke und visuelle Werkzeuge, die Akteuren helfen, fundierte Entscheidungen über die Ressourcennutzung zu treffen. Durch die Analyse von Reststoffströmen und die Darstellung von Umwandlungsmöglichkeiten wollten wir aufzeigen, wie alternative Wege Umweltauswirkungen reduzieren und gleichzeitig sozioökonomische Chancen schaffen können. Durch die Betonung geschlossener Kreislaufsysteme stellen wir sicher, dass Materialien ihren Wert innerhalb der lokalen Wirtschaft behalten und Abfall und Emissionen minimiert werden. Über die Pilotregion hinaus dient die Lösung als replizierbares Modell für ländliche Gebiete, die zirkuläre Praktiken übernehmen möchten.
                  </p>
                </div>
                <div class="stackvectorfift__row--one_one">
                  <img src="{% static 'images/img_1.png' %}" alt="Image One" class="stackvectorfift__image--one_one" />
                </div>
              </div>
            </div>
            <div class="stackvectorfift__column--aboutfutu">
              <a href="#futural">
              <button class="stackvectorfift__button--challenges_from ui button teal_50_04 size-md fill">
              FUTURAL
              </button>
              </a>
              <div class="stackvectorfift__column--challenge-1">
              <a href="#pongau">
                <button class="stackvectorfift__button--challenges_from ui button teal_50_04 size-md fill">
                Die Region Pongau
                </button>
              </a>

              <a href="#smart-solution">
                <button class="stackvectorfift__button--challenges_from ui button teal_50_04 size-md fill">Die Smart Solution
                </button>
              </a>

              <a href="#overview">
                <button class="stackvectorfift__button--challenges_from ui button teal_50_04 size-md fill">Überblick &amp; Ansatz
                </button>
              </a>

              <a href="#impact">
                <button class="stackvectorfift__button--challenges_from ui button teal_50_04 size-md fill">Reichweite &amp; Wirkung
                </button>
              </a>
              </div>
            </div>
          </div>
          <div class="column-1">
            <img src="{% static 'images/img_vector_52.png' %}" alt="Image One" class="column__image--vector-52" />
            <img src="{% static 'images/img_vector_54.png' %}" alt="Image Two" class="column__image--vector-54" />
          </div>
        </div>
      </div>

      <!-- footer section -->
      {% include "footer.html" %}
      
    </div>
  </body>
</html>