{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Best Practices in Circular Bioeconomy - Learn and Implement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Access top Best Practices, Case Studies, and Guides in the Circular Bioeconomy. Stay informed on Regulatory Compliance and drive sustainable development in your industry."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/FBestPracticesOne.css' %}" />
   
  </head>
  <body>
    <div class="f-home">
      <!-- header navigation section -->
      {% include "navbar.html" %}
      
      <div class="column_one-1">
        <!-- hero banner section -->
        <div class="container-xs">
          <div class="section__background">
            <div class="section__main__stack__column">
              <img
                src="{% static 'images/img_noiseeffect_vector.svg' %}"
                alt="Noise Effect Image"
                class="section__main__stack__image"
              />
              <div class="section__header">
                <div class="section__main-2">
                  <div class="section__main-stack">
                    <div class="section__main-stack__images">
                      <img
                        src="{% static 'images/img_vector_59_teal_50_03.svg' %}"
                        alt="Vector Fifty-nine Image"
                        class="section__main__stack__column__stack__image--first"
                      />
                      <img
                        src="{% static 'images/img_vector_60_teal_50_03.svg' %}"
                        alt="Vector Sixty Image"
                        class="section__main__stack__column__stack__image--second"
                      />
                      <img
                        src="{% static 'images/img_vector_61.svg' %}"
                        alt="Vector Sixty-one Image"
                        class="section__main-stack__image"
                      />
                      <div class="section__main-stack__content">
                        <div class="section__main-stack__content-header">
                          <img
                            src="{% static 'images/img_ellipse_50.png' %}"
                            alt="Ellipse Image"
                            class="section__main-stack__content-header__icon"
                          />
                          <p class="section__main-stack__content-header__title ui text size-text4xl">Best Practices</p>
                        </div>
                        <div class="section__main-stack__content-info">
                          <img
                            src="{% static 'images/img_ellipse_52.png' %}"
                            alt="Ellipse One Image"
                            class="section__main-stack__content-info__icon"
                          />
                          <div class="section__main-stack__content-info__details">
                            <div class="section__main-stack__content-info__details-row">
                              <div class="section__main-stack__content-info__details-row__icons">
                                <img
                                  src="{% static 'images/img_user.svg' %}"
                                  alt="User Image"
                                  class="section__main-stack__content-info__details-row__icon--user"
                                />
                                <img
                                  src="{% static 'images/img_favorite.svg' %}"
                                  alt="Favorite Image"
                                  class="section__main-stack__content-info__details-row__icon--favorite"
                                />
                              </div>
                              <label
                                class="section__main-stack__content-info__details-row__search ui input white_a700 size-xs fill"
                              >
                                <input name="Search View" placeholder="Search" type="text" />
                                <img src="{% static 'images/img_rewind.svg' %}" alt="Rewind" class="rewind" />
                              </label>
                              <img
                                src="{% static 'images/img_ellipse_51.png' %}"
                                alt="Ellipse Two Image"
                                class="section__main-stack__content-info__details-row__icon"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="section__main__stack__column__stack__info__title ui heading size-headingxl">
                    Best Practices
                  </h1>
                </div>
              </div>
            </div>
            <img
              src="{% static 'images/img_noiseeffect_vector.svg' %}"
              alt="Noise Effect Image Bottom"
              class="section__background-image"
            />
          </div>
        </div>

        <!-- featured articles section -->
        <div class="section__column--nested-duodenary">
          <div class="section__aside container-xs">
            <div class="section__aside__grid">
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer section -->
      {% include "footer.html" %}
      
    </div>
  </body>
</html>
