{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Best Practices in Circular Bioeconomy - Learn and Implement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Access top Best Practices, Case Studies, and Guides in the Circular Bioeconomy. Stay informed on Regulatory Compliance and drive sustainable development in your industry."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/FBestPracticesOne.css' %}" />
    <script>
      /**
       * Handles the value change functionality in a chip view
       */
      function handleChipView(/** @type {HTMLElement} */ target) {
        const labels = /** @type {NodeListOf<HTMLLabelElement>} */ target.querySelectorAll("label");
        for (const label of labels) {
          const checkbox = /** @type {HTMLInputElement} */ label.querySelector("input[type=checkbox]");
          if (!checkbox) continue;

          const template = /** @type {HTMLTemplateElement} */ label.querySelector("template");
          if (!template) continue;

          const labelSelectedStyles = /** @type {string[]} */ [
            ...template.content.querySelector("label[selected-styles]").classList,
          ].filter((className) => !label.classList.contains(className));
          const labelUnselectedStyles = /** @type {string[]} */ [
            ...template.content.querySelector("label[unselected-styles]").classList,
          ].filter((className) => !label.classList.contains(className));

          const closeButton = label.querySelector("[close-button]");

          function checkboxChangeEffect(/** @type {Event} */ event) {
            if (label.getAttribute("removed")) return;
            if (checkbox.checked) {
              labelSelectedStyles.forEach((style) => label.classList.add(style));
              labelUnselectedStyles.forEach((style) => label.classList.remove(style));
            } else {
              labelSelectedStyles.forEach((style) => label.classList.remove(style));
              labelUnselectedStyles.forEach((style) => label.classList.add(style));
            }
          }

          function closeButtonClickEffect(/** @type {Event} */ event) {
            if (label.getAttribute("removed")) return;
            event.preventDefault();
            label.setAttribute("remove", "true");
            label.parentElement.removeChild(label);
          }

          checkbox?.addEventListener("change", checkboxChangeEffect);
          closeButton?.addEventListener("click", closeButtonClickEffect);
        }
      }
      /**
       * Hydrate chip view(s)
       */
      document.addEventListener("DOMContentLoaded", () => {
        const elements = /** @type {NodeListOf<HTMLElement>} */ (document.querySelectorAll("[chip-view]"));
        for (const element of elements) handleChipView(element);
      });
    </script>
  </head>
  <body>
    <div class="f-home">
      <!-- header navigation section -->
      <header class="header">
        <div class="header__top-row container-xs">
          <img src="{% static 'images/img_logo_1.png' %}" alt="Logoimage" class="header__logo" />
          <ul class="header__menu">
            <li>
              <a href="#">
                <div class="header__menu-item">
                  <p class="header__menu-link ui heading size-headinglg">Home</p>
                  <div class="header__menu-icon"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-textmd">About</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-textmd">Scenarios Analysis</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-textmd">Best Practices</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-textmd">Contact</p>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="column_one-1">
        <!-- hero banner section -->
        <div class="container-xs">
          <div class="section__background">
            <div class="section__main__stack__column">
              <img
                src="{% static 'images/img_noiseeffect_vector.svg' %}"
                alt="Noise Effect Image"
                class="section__main__stack__image"
              />
              <div class="section__header">
                <div class="section__main-2">
                  <div class="section__main-stack">
                    <div class="section__main-stack__images">
                      <img
                        src="{% static 'images/img_vector_59_teal_50_03.svg' %}"
                        alt="Vector Fifty-nine Image"
                        class="section__main__stack__column__stack__image--first"
                      />
                      <img
                        src="{% static 'images/img_vector_60_teal_50_03.svg' %}"
                        alt="Vector Sixty Image"
                        class="section__main__stack__column__stack__image--second"
                      />
                      <img
                        src="{% static 'images/img_vector_61.svg' %}"
                        alt="Vector Sixty-one Image"
                        class="section__main-stack__image"
                      />
                      <div class="section__main-stack__content">
                        <div class="section__main-stack__content-header">
                          <img
                            src="{% static 'images/img_ellipse_50.png' %}"
                            alt="Ellipse Image"
                            class="section__main-stack__content-header__icon"
                          />
                          <p class="section__main-stack__content-header__title ui text size-text4xl">Best Practices</p>
                        </div>
                        <div class="section__main-stack__content-info">
                          <img
                            src="{% static 'images/img_ellipse_52.png' %}"
                            alt="Ellipse One Image"
                            class="section__main-stack__content-info__icon"
                          />
                          <div class="section__main-stack__content-info__details">
                            <div class="section__main-stack__content-info__details-row">
                              <div class="section__main-stack__content-info__details-row__icons">
                                <img
                                  src="{% static 'images/img_user.svg' %}"
                                  alt="User Image"
                                  class="section__main-stack__content-info__details-row__icon--user"
                                />
                                <img
                                  src="{% static 'images/img_favorite.svg' %}"
                                  alt="Favorite Image"
                                  class="section__main-stack__content-info__details-row__icon--favorite"
                                />
                              </div>
                              <label
                                class="section__main-stack__content-info__details-row__search ui input white_a700 size-xs fill"
                              >
                                <input name="Search View" placeholder="Search" type="text" />
                                <img src="{% static 'images/img_rewind.svg' %}" alt="Rewind" class="rewind" />
                              </label>
                              <img
                                src="{% static 'images/img_ellipse_51.png' %}"
                                alt="Ellipse Two Image"
                                class="section__main-stack__content-info__details-row__icon"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="section__main__stack__column__stack__info__title ui heading size-headingxl">
                    Lorem ipshum
                  </h1>
                  <div class="section__footer">
                    <div class="section__footer__dropdown-row">
                      <select
                        class="section__footer__dropdown ui selectbox white_a700 size-xs fill round"
                        name="Popular Dropdown"
                      >
                        <option value="option1">Option1</option>
                        <option value="option2">Option2</option>
                        <option value="option3">Option3</option>
                      </select>
                      <div class="section__footer__line"></div>
                      <form chip-view id="204:10069" class="section__footer__chips">
                        <label tabindex="0" class="flex-row-center-center section__footer__chip--case-studies">
                          <img
                            src="{% static 'images/img_closesmall.svg' %}"
                            alt="Close Small"
                            class="footer__social-icon--facebook"
                          />
                          <input type="checkbox" name="selectedChipOptions" value="1" hidden="true" class="dhi-group" />
                          <span> Case Studies</span>
                          <template hidden>
                            <label unselected-styles class="dhi-group-3"> </label>
                            <label selected-styles class="dhi-group-13"> </label>
                          </template>
                        </label>
                        <label
                          tabindex="0"
                          class="flex-row-center-center section__main__stack__column__content__row__chips__item--second"
                        >
                          <input type="checkbox" name="selectedChipOptions" value="2" hidden="true" class="dhi-group" />
                          <span> Educational Material & Guides</span>
                          <template hidden>
                            <label unselected-styles class="dhi-group-3"> </label>
                            <label selected-styles class="dhi-group-13"> </label>
                          </template>
                        </label>
                        <label
                          tabindex="0"
                          class="flex-row-center-center section__main__stack__column__content__row__chips__item--third"
                        >
                          <input type="checkbox" name="selectedChipOptions" value="3" hidden="true" class="dhi-group" />
                          <span> Regulatory & Compliance</span>
                          <template hidden>
                            <label unselected-styles class="dhi-group-3"> </label>
                            <label selected-styles class="dhi-group-13"> </label>
                          </template>
                        </label>
                      </form>
                    </div>
                    <p class="section__main__stack__column__content__row__counter ui text size-textlg">23 Items</p>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="{% static 'images/img_noiseeffect_vector.svg' %}"
              alt="Noise Effect Image Bottom"
              class="section__background-image"
            />
          </div>
        </div>

        <!-- featured articles section -->
        <div class="section__column--nested-duodenary">
          <div class="section__aside container-xs">
            <div class="section__aside__grid">
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="best-practice-info">
                <div class="best-practice-info__content">
                  <div class="best-practice-info__header">
                    <img src="{% static 'images/img_globe.svg' %}" alt="Globe Image" class="best-practice-info__image" />
                  </div>
                  <div class="best-practice-info__details">
                    <div class="best-practice-info__text-container">
                      <p class="best-practice-info__title ui text size-textlg">Best Practice Title</p>
                      <p class="best-practice-info__description ui text size-textmd">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis est id
                        laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas iaculis
                        est id laoreet.
                      </p>
                    </div>
                    <a href="#" class="learn-more-link-link">
                      <p class="best-practice-info__link ui text size-textmd">Learn more</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <button class="section__aside__button ui button white_a700 size-sm fill">Load more</button>
          </div>
        </div>
      </div>

      <!-- footer section -->
      <footer class="footer-5">
        <div>
          <div>
            <div class="footer__top-row">
              <div class="footer__logo-container container-xs">
                <img src="{% static 'images/img_logo_2.png' %}" alt="Secondary Logo" class="footer__logo" />
                <div class="footer__nav-container">
                  <ul class="footer__nav-list">
                    <li>
                      <a href="Home" target="_blank" rel="noreferrer">
                        <p class="ui text size-textmd">Home</p>
                      </a>
                    </li>
                    <li>
                      <a href="About" target="_blank" rel="noreferrer">
                        <p class="ui text size-textmd">About</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <p class="ui text size-textmd">Scenarios Analysis</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <p class="ui text size-textmd">Resources & Management</p>
                      </a>
                    </li>
                    <li>
                      <a href="Support" target="_blank" rel="noreferrer">
                        <p class="ui text size-textmd">Support</p>
                      </a>
                    </li>
                  </ul>
                  <div class="footer__social-container">
                    <img
                      src="{% static 'images/img_facebook.svg' %}"
                      alt="Facebook Icon"
                      class="footer__social-icon--facebook"
                    />
                    <img src="{% static 'images/img_link.svg' %}" alt="Linkedin Icon" class="footer__social-icon--facebook" />
                    <img src="{% static 'images/img_vector.svg' %}" alt="Twitter Icon" class="footer__social-icon--facebook" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="footer__bottom-row">
              <div class="footer__info-container container-xs">
                <div class="footer__info-zipcode">
                  <p class="ui text size-textmd">2024</p>
                  <img src="{% static 'images/img_copyright.svg' %}" alt="Copyright Icon" class="footer__copyright-icon" />
                  <p class="ui text size-textmd">All rights reserved. Futural project</p>
                </div>
                <a href="#" class="terms-link-link">
                  <p class="ui text size-textmd">Terms of condition</p>
                </a>
                <div class="footer__qr-container">
                  <img src="{% static 'images/img_qrcode.png' %}" alt="Qr Code" class="footer__qr-code" />
                  <img src="{% static 'images/img_en_fundedbytheeu_rgb_pos.png' %}" alt="Eu Logo" class="footer__eu-logo" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
