{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Circular Bioeconomy Smart Solution - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Explore the home of Circular Bioeconomy Smart Solution. Learn about Futural, Sankeys, best practices, and regional case studies in the Pongau area."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/FHome.css' %}" />
  </head>
  <body>
    <div class="f-home">
      <!-- header section -->
      
      {% include "navbar.html" %}
      
      <div class="newscreenbody">
        <!-- hero section -->
        <div class="stackvectorfift">
          <img src="{% static 'images/img_vector_59.svg' %}" alt="Vector Image" class="image" />
          <div class="section container-xs">
            <div class="section__content">
              <div class="section__top">
                <img src="{% static 'images/img_image_24.png' %}" alt="Profile Image" class="section__top-image" />
                <div class="section__top-controls" style="padding-left: 65%; padding-bottom:1%;">
                  <button class="section__top-controls-item ui button white_a700 size-lg fill circle">
                    <img src="{% static 'images/img_group_1194.png' %}" />
                  </button>
                  <button class="section__top-controls-item--settings ui button white_a700 size-lg fill circle">
                    <img src="{% static 'images/img_settings.svg' %}" />
                  </button>
                </div>
              </div>
              <div class="section__main">
                <div class="section__main-column">
                  <p class="section__main-column-title ui text size-text4xl">
                    Welcome to<br />Circular Bioeconomy Smart Solution
                  </p>
                  <p class="section__main-column-description ui text size-text1xl">
                    The Circular Bioeconomy Smart Solution for Pongau promotes sustainability by mapping material flows, identifying reuse opportunities, and optimizing vacant buildings for circular economy practices. Using Sankey diagrams, multi-criteria assessments, and mind-mapping, it helps stakeholders repurpose biomass ashes, sewage sludge, food waste, and also identify underutilized spaces to support sustainable regional development in Pongau.                    
                    <div class="section__main-column-actions">
                      <button onclick="window.location.href='{% url 'about' %}'" class="section__main-column-actions-button ui button teal_50_05 size-sm fill">
                        Regionalverband Pongau
                      </button>
                    <button  onclick="window.location.href='{% url 'scenario_analysis' %}'"  class="section__main-column-actions-button--explore ui button cyan_700_01 size-sm fill">
                      Explore Sankeys
                    </button>
                  </div>
                </div>
              </div>
              <img src="{% static 'images/img_vector_60.png' %}" alt="Footer Image" class="section__image" />
            </div>
          </div>
        </div>

        <!-- explore section -->
        <div class="column">
          <div class="columnline container-xs">
            <div class="columnline__separator"></div>
            <div class="columnline__content">
              <p class="faq-section__title ui text size-text5xl">Explore</p>
              <div class="columnline__list">
                <div class="user-profile-header">
                  <a href="{% url 'scenario_analysis' %}">
                    <p class="faq-section__title ui text size-text2xl">Sankeys</p>
                  </a>
                </div>
                <div class="user-profile-header">
                  <a href="{% url 'best_practices' %}">
                    <p class="faq-section__title ui text size-text2xl">Best Practices</p>
                  </a>
                </div>
                <div class="user-profile-header">
                  <a href="https://futural-project.eu/" target="_blank" rel="noopener noreferrer">
                    <p class="faq-section__title ui text size-text2xl">About FUTURAL</p>
                  </a>
                </div>
                <div class="user-profile-header">
                  <a href="{% url 'about' %}">
                    <p class="faq-section__title ui text size-text2xl">About <br />Regionalverband<br />Pongau</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        

        <!-- faq section -->
        <div class="column_one">
          <div class="columnline container-xs">
            <div class="faq-section__divider"></div>
            <p class="faq-section__title ui text size-text5xl">Frequently Asked Questions</p>
            <div class="faq-section__list">
              <details class="case-studies-column" open>
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl">What is the Circular Bioeconomy Smart Solution?</p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    The Circular Bioeconomy Smart Solution is an interactive platform designed to support the sustainable management of natural resources in the Pongau region. It provides decision-making tools like Sankey diagrams, multi-criteria assessments, and mind-mapping techniques to visualize and evaluate different pathways for converting local waste streams, such as biomass ashes, sewage sludge, and food waste, into valuable resources.
                  </p>
                </div>
              </details>
              <details class="case-studies-column">
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl">Who can use the Circular Bioeconomy platform?</p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    The platform is intended for a wide range of users, including local authorities, policymakers, businesses, and community members in Pongau interested in promoting circular economy practices. Stakeholders involved in waste management, agriculture, tourism, and regional development will particularly benefit from the platform’s insights.
                  </p>
                </div>
              </details>
              <details class="case-studies-column">
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl">What types of waste streams does the platform focus on?</p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    The platform primarily focuses on three key waste streams in Pongau: biomass ashes from heating plants, sewage sludge from wastewater treatment plants, and food waste generated by the tourism industry. It helps identify and assess valorization pathways for converting these waste streams into resources that can contribute to regional sustainability.
                  </p>
                </div>
              </details>
              <details class="case-studies-column">
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl">How does the Circular Bioeconomy SS support decision-making?
                  </p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    The platform offers advanced decision-support tools like multi-criteria assessments (MCA) and Sankey diagrams to help users analyze various resource flow scenarios. These tools evaluate the environmental, economic, and technical feasibility of different circular economy options, guiding users toward the most sustainable solutions.
                  </p>
                </div>
              </details>
              <details class="case-studies-column">
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl">How can the platform help reduce waste in the region?
                  </p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    By providing a comprehensive analysis of how waste streams can be converted into valuable resources, the platform encourages the adoption of circular economy practices. This reduces waste production by promoting the reuse, recycling, and transformation of waste into new products, helping to close the loop and reduce environmental impact.
                  </p>
                </div>
              </details>
              <details class="case-studies-column">
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl">What role do local stakeholders play in the platform?
                  </p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    Local stakeholders, including regional authorities, businesses, and citizens, play a crucial role by providing input, feedback, and data on regional waste management practices. Their involvement ensures that the solutions developed are realistic, feasible, and aligned with the specific needs of Pongau.
                  </p>
                </div>
              </details>
              <details class="case-studies-column">
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl"> Can the Circular Bioeconomy SS be used outside Pongau?
                  </p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    Yes, while the platform is specifically tailored for the Pongau region, its tools and methodologies can be adapted for use in other regions. The decision-making frameworks, such as the multi-criteria analysis and resource flow diagrams, can be customized to reflect local conditions and resource streams in other areas.
                  </p>
                </div>
              </details>
              <details class="case-studies-column">
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl"> What kind of data is needed to use the platform effectively?
                  </p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    To provide accurate analyses, the platform relies on data about local waste streams, such as the volume of biomass ashes, sewage sludge, and food waste. It also uses economic data, technical specifications, and environmental impact assessments to offer robust decision-support insights.
                  </p>
                </div>
              </details>
              <details class="case-studies-column">
                <summary class="faq-section__item">
                  <p class="faq-section__question ui text size-textxl"> How can I get involved with the Circular Bioeconomy initiative in Pongau?
                  </p>
                </summary>
                <div class="faq-section__description-container">
                  <p class="faq-section__description ui text size-textlg">
                    If you are a resident, business owner, or policymaker in the Pongau region, you can get involved by attending local stakeholder meetings, providing feedback on proposed solutions, or contributing data to the platform. You can also contact the Regionalverband Pongau for more information on how to participate.</p>
                </div>
              </details>
            </div>
          </div>
        </div>
      </div>

      {% include "footer.html" %}


    </div>
  </body>
</html>
