{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to the FUTURAL Circular Bioeconomy Smart Solution - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Explore the home of Circular Bioeconomy Smart Solution. Learn about Futural, Sankeys, best practices, and regional case studies in the Pongau area."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/FHome.css' %}" />
  </head>
  <body>
    <div class="f-home">
      <!-- header section -->
      
      {% include "navbar.html" %}
      
      <div class="newscreenbody" style="margin-bottom: 0; padding-bottom: 0;">
        <!-- hero section -->
        <div class="stackvectorfift">
          <img src="{% static 'images/img_vector_59.svg' %}" alt="Vector Image" class="image" />
          <div class="section container-xs">
            <div class="section__content">
              <div class="section__top">
                <img src="{% static 'images/img_image_24.png' %}" alt="Profile Image" class="section__top-image" />
                <div class="section__top-controls" style="padding-left: 65%; padding-bottom:1%;">
                  <button class="section__top-controls-item ui button white_a700 size-lg fill circle">
                    <img src="{% static 'images/img_group_1194.png' %}" />
                  </button>
                  <button class="section__top-controls-item--settings ui button white_a700 size-lg fill circle">
                    <img src="{% static 'images/img_settings.svg' %}" />
                  </button>
                </div>
              </div>
              <div class="section__main">
                <div class="section__main-column">
                  <p class="section__main-column-title ui text size-text4xl">
                    Welcome to the FUTURAL<br />Circular Bioeconomy Smart Solution
                  </p>
                  <p class="section__main-column-description ui text size-text1xl">
                    The platform aims to advance the transition to a circular bioeconomy in the Pongau region (Austria) by providing an integrated platform for exploring, illustrating, and assessing circular bioeconomy knowledge, and opportunities for resource valorisation. The goal is to help the community make informed decisions and identify pathways that enhance resource efficiency, reduce waste, and generate social, environmental, and economic value. Moreover, it provides a guide for the repurposing of underutilized spaces, in line with circular economy principles, thus supporting a more holistic sustainable model of regional development.
                  </p>
                </div>
              </div>
              <img src="{% static 'images/img_vector_60.png' %}" alt="Footer Image" class="section__image" />
            </div>
          </div>
        </div>

      </div>

      {% include "footer.html" %}


    </div>
  </body>
</html>
