{% load static %}

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Willkommen zur FUTURAL Circular Bioeconomy Smart Solution - Startseite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Erkunden Sie die Startseite der Circular Bioeconomy Smart Solution. Erfahren Sie mehr über Futural, Sankeys, Best Practices und regionale Fallstudien im Pongau."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/FHome.css' %}" />
  </head>
  <body>
    <div class="f-home">
      <!-- header section -->
      
      {% include "navbar.html" %}
      
      <div class="newscreenbody" style="margin-bottom: 0; padding-bottom: 0;">
        <!-- hero section -->
        <div class="stackvectorfift">
          <img src="{% static 'images/img_vector_59.svg' %}" alt="Vector Image" class="image" />
          <div class="section container-xs">
            <div class="section__content">
              <div class="section__top">
                <img src="{% static 'images/img_image_24.png' %}" alt="Profile Image" class="section__top-image" />
                <div class="section__top-controls" style="padding-left: 65%; padding-bottom:1%;">
                  <button class="section__top-controls-item ui button white_a700 size-lg fill circle">
                    <img src="{% static 'images/img_group_1194.png' %}" />
                  </button>
                  <button class="section__top-controls-item--settings ui button white_a700 size-lg fill circle">
                    <img src="{% static 'images/img_settings.svg' %}" />
                  </button>
                </div>
              </div>
              <div class="section__main">
                <div class="section__main-column">
                  <p class="section__main-column-title ui text size-text4xl">
                    Willkommen zur FUTURAL<br />Circular Bioeconomy Smart Solution
                  </p>
                  <p class="section__main-column-description ui text size-text1xl">
                    Die Plattform f&ouml;rdert den &Uuml;bergang zu einer zirkul&auml;ren Bio&ouml;konomie in der Region Pongau (&Ouml;sterreich), indem sie eine integrierte Umgebung zur Erkundung, Visualisierung und Bewertung von Wissen zur zirkul&auml;ren Bio&ouml;konomie sowie von M&ouml;glichkeiten der Ressourcenverwertung bereitstellt. Das Ziel ist es, die Region dabei zu unterst&uuml;tzen, fundierte Entscheidungen zu treffen und geeignete Wege zu identifizieren, um die Ressourceneffizienz zu steigern, Abf&auml;lle zu reduzieren und sozialen, &ouml;kologischen sowie wirtschaftlichen Mehrwert zu schaffen. Dar&uuml;ber hinaus stellt die Plattform einen Leitfaden f&uuml;r die Umnutzung ungenutzter R&auml;umlichkeiten im Einklang mit den Prinzipien der Kreislaufwirtschaft bereit und unterst&uuml;tzt so ein ganzheitlich nachhaltiges Modell der regionalen Entwicklung.
                  </p>
                </div>
              </div>
              <img src="{% static 'images/img_vector_60.png' %}" alt="Footer Image" class="section__image" />
            </div>
          </div>
        </div>

      </div>

      {% include "footer.html" %}


    </div>
  </body>
</html>