{% load static %}

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Willkommen zur Circular Bioeconomy Smart Solution - Startseite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Erkunden Sie die Startseite der Circular Bioeconomy Smart Solution. Erfahren Sie mehr über Futural, Sankeys, Best Practices und regionale Fallstudien im Pongau."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/FHome.css' %}" />
  </head>
  <body>
    <div class="f-home">
      <!-- header section -->
      
      {% include "navbar.html" %}
      
      <div class="newscreenbody">
        <!-- hero section -->
        <div class="stackvectorfift">
          <img src="{% static 'images/img_vector_59.svg' %}" alt="Vector Image" class="image" />
          <div class="section container-xs">
            <div class="section__content">
              <div class="section__top">
                <img src="{% static 'images/img_image_24.png' %}" alt="Profile Image" class="section__top-image" />
                <div class="section__top-controls" style="padding-left: 65%; padding-bottom:1%;">
                  <button class="section__top-controls-item ui button white_a700 size-lg fill circle">
                    <img src="{% static 'images/img_group_1194.png' %}" />
                  </button>
                  <button class="section__top-controls-item--settings ui button white_a700 size-lg fill circle">
                    <img src="{% static 'images/img_settings.svg' %}" />
                  </button>
                </div>
              </div>
              <div class="section__main">
                <div class="section__main-column">
                  <p class="section__main-column-title ui text size-text4xl">
                    Willkommen zur<br />Circular Bioeconomy Smart Solution
                  </p>
                  <p class="section__main-column-description ui text size-text1xl">
                    Die Plattform zielt darauf ab, den Übergang zu einer zirkulären Bioökonomie in der Region Pongau (Österreich) voranzutreiben, indem sie ein integriertes Entscheidungsunterstützungsinstrument bereitstellt, das die Vorteile alternativer Ressourcenverwertungswege aufzeigt. Ziel ist es, der Gemeinschaft zu helfen, fundierte Entscheidungen zu treffen, die die Ressourceneffizienz steigern, Abfälle reduzieren und wirtschaftlichen, ökologischen und sozialen Mehrwert schaffen. Darüber hinaus bietet sie einen Leitfaden für die Umnutzung untergenutzer Räume im Einklang mit den Prinzipien der Kreislaufwirtschaft und unterstützt so ein ganzheitlicheres nachhaltiges Modell der regionalen Entwicklung.
                  </p>
                  <div class="section__main-column-actions">
                    <button onclick="window.location.href='{% url 'about' %}'" class="section__main-column-actions-button ui button teal_50_05 size-sm fill">
                      Regionalverband Pongau
                    </button>
                    <button onclick="window.location.href='{% url 'scenario_analysis' %}'" class="section__main-column-actions-button--explore ui button cyan_700_01 size-sm fill">
                      Szenarioanalyse
                    </button>
                  </div>
                </div>
              </div>
              <img src="{% static 'images/img_vector_60.png' %}" alt="Footer Image" class="section__image" />
            </div>
          </div>
        </div>

        <!-- explore section -->
        <div class="column">
          <div class="columnline container-xs">
            <div class="columnline__separator"></div>
            <div class="columnline__content">
              <p class="faq-section__title ui text size-text5xl">Erkunden</p>
              <div class="columnline__list">
                <div class="user-profile-header">
                  <a href="{% url 'scenario_analysis' %}">
                    <p class="faq-section__title ui text size-text2xl">Szenarioanalyse</p>
                  </a>
                </div>
                <div class="user-profile-header">
                  <a href="{% url 'best_practices' %}">
                    <p class="faq-section__title ui text size-text2xl">Best Practices</p>
                  </a>
                </div>
                <div class="user-profile-header">
                  <a href="{% url 'vacant_buildings' %}">
                    <p class="faq-section__title ui text size-text2xl">Leerstehende Gebäude</p>
                  </a>
                </div>
                <div class="user-profile-header">
                  <a href="https://futural-project.eu/" target="_blank" rel="noopener noreferrer">
                    <p class="faq-section__title ui text size-text2xl">Über FUTURAL</p>
                  </a>
                </div>
                <div class="user-profile-header">
                  <a href="{% url 'about' %}">
                    <p class="faq-section__title ui text size-text2xl">Über <br />Regionalverband<br />Pongau</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "footer.html" %}


    </div>
  </body>
</html>