{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Scenario Analysis - Biomass Residue Stream Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Delve into our Scenario Analysis for effective biomass residue stream management. Utilize Sankey Diagrams and MCA Analysis to optimize valorization pathways and enhance regional sustainability."
    />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/FScenarioAnalysisselected.css' %}" />
  </head>
  <body>
    <div class="columnheader_logo-one">
      <!-- header navigation section -->
      <header class="header">
        <div class="header__top-row container-xs">
          <img src="{% static 'images/img_header_logo.png' %}" alt="Logoimage" class="header__logo" />
          <ul class="header__menu">
            <li>
              <a href="#">
                <div class="header__menu-item">
                  <p class="header__menu-link ui heading size-headinglg">Home</p>
                  <div class="header__menu-icon"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-textmd">About</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-textmd">Scenarios Analysis</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-textmd">Best Practices</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-textmd">Contact</p>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="columnvectorfif-1">
        <!-- hero banner section -->
        <div class="stackvectorfift-2">
          <div class="section container-xs">
            <img src="{% static 'images/img_rectangle_156.png' %}" alt="Thumbnail" class="scenario-analysis__image-1" />
          </div>
          <img src="{% static 'images/img_vector_59_1.png' %}" alt="Vector Image" class="scenario-analysis__image" />
          <div class="rowvectorsixty">
            <img
              src="{% static 'images/img_vector_60_lime_100.svg' %}"
              alt="Vector Image 1"
              class="rowvectorsixty__image--lime"
            />
            <img
              src="{% static 'images/img_vector_61_lime_100.svg' %}"
              alt="Vector Image 2"
              class="rowvectorsixty__image--lime-1"
            />
          </div>
          <div class="scenario-analysis container-xs">
            <p class="scenario-analysis__title ui text size-text5xl">Scenario Analysis</p>
            <div class="scenario-analysis__content">
              <div class="scenario-analysis__row-1">
                <div class="scenario-analysis__sub-row">
                  <div class="scenario-analysis__icon-row">
                    <img
                      src="{% static 'images/img_vector_62_orange_300.svg' %}"
                      alt="Vector Image"
                      class="scenario-analysis__icon--vector"
                    />
                    <img
                      src="{% static 'images/img_settings_orange_300.svg' %}"
                      alt="Settings Image"
                      class="scenario-analysis__icon--settings"
                    />
                  </div>
                  <div class="scenario-analysis__selection-row">
                    <img
                      src="{% static 'images/img_ellipse_50_62x62.png' %}"
                      alt="Ellipse Image"
                      class="scenario-analysis__icon--ellipse"
                    />
                    <div class="scenario-analysis__selection-column">
                      <p class="scenario-analysis__text ui text size-textxl">Please select a residue stream</p>
                      <select
                        class="scenario-analysis__dropdown ui selectbox white_a700 size-sm fill"
                        name="Dropdown Select"
                      >
                        <option value="option1">Option1</option>
                        <option value="option2">Option2</option>
                        <option value="option3">Option3</option>
                      </select>
                    </div>
                  </div>
                  <div class="scenario-analysis__icon-row--small">
                    <img
                      src="{% static 'images/img_ellipse_52_28x28.png' %}"
                      alt="Small Ellipse Image"
                      class="scenario-analysis__icon--ellipse-small"
                    />
                    <img
                      src="{% static 'images/img_ellipse_51_26x26.png' %}"
                      alt="Tiny Ellipse Image"
                      class="scenario-analysis__icon--ellipse-smaller"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- content analysis section -->
        <div class="stacksankeydiag">
          <p class="scenario-analysis__sankey-diagram ui text size-text3xl">Sankey Diagram</p>
          <div class="column_five">
            <div class="columnashesfrom">
              <div class="row_six">
                <div class="scenario-analysis__content-1 container-xs">
                  <div class="scenario-analysis__row-2">
                    <p class="scenario-analysis__title-2 ui text size-text4xl">Ashes from Biomass incineration</p>
                    <button class="scenario-analysis__button ui button cyan_700_01 size-md fill round">
                      <img src="{% static 'images/img_download.svg' %}" alt="Download" class="save" />
                      <span> Download</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="scenario-analysis-1 container-xs">
                <div class="scenario-analysis__content-2">
                  <h1 class="scenario-analysis__title-1 ui heading size-headinglg">Sankey Diagram</h1>
                  <div class="scenario-analysis__row-3">
                    <p class="scenario-analysis__subtitle ui text size-textmd">MCA Analysis</p>
                  </div>
                  <div class="scenario-analysis__row-3">
                    <p class="scenario-analysis__subtitle ui text size-textmd">Senarios</p>
                  </div>
                  <div class="scenario-analysis__row-5">
                    <div class="scenario-analysis__subrow">
                      <p class="scenario-analysis__subtitle ui text size-textmd">Senario 1</p>
                    </div>
                  </div>
                  <div class="scenario-analysis__row-6">
                    <p class="scenario-analysis__subtitle ui text size-textmd">Senario 2</p>
                  </div>
                  <div class="scenario-analysis__row-6">
                    <p class="scenario-analysis__subtitle ui text size-textmd">Senario 3</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-layout container-xs">
              <div class="scenario-section">
                <div class="section-2">
                  <div class="section__column-1">
                    <p class="section__title-1 ui text size-text3xl">Sankey Diagram</p>
                    <div class="section__content-1">
                      <div class="section__content-row">
                        <div class="section__content-row--first">
                          <div class="header__menu-item">
                            <div class="section__content-row--second">
                              <p class="section__content-item ui text size-textxs">Digestion & Separation</p>
                              <p class="section__content-item--secondary ui text size-textxs">Evaporation</p>
                              <div class="section__content-row--third">
                                <div class="section__content-column--nested">
                                  <div class="section__content-row--fourth">
                                    <p class="section__content-item--duodenary-8 ui text size-textxs">Combustion</p>
                                    <p class="section__content-item--septenary-1 ui text size-textxs">
                                      Energy Regeneration
                                    </p>
                                  </div>
                                  <p class="best-practice-info__title ui text size-textxs">Lignin Extraction</p>
                                  <p class="section__content-item--senary-11 ui text size-textxs">
                                    Paperboard Production
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="section__content-row--fifth">
                              <p class="best-practice-info__title ui text size-textxs">Tall Oil Market</p>
                              <div class="section__content-row--sixth">
                                <p class="section__content-item--octonary-10 ui text size-textxs">Forestry</p>
                                <p class="section__content-item--septenary-1 ui text size-textxs">Material Inflow</p>
                              </div>
                            </div>
                            <div class="section__content-row--seventh">
                              <p class="section__content-item--ternary ui text size-textxs">Chipping</p>
                              <p class="section__content-item--undenary-2 ui text size-textxs">Wood Market</p>
                              <p class="section__content-item--duodenary-10 ui text size-textxs">Turpentline Market</p>
                            </div>
                            <p class="section__content-item--ternary-4 ui text size-textxs">Energy Inflow</p>
                          </div>
                        </div>
                        <div class="scenario-analysis__content-2">
                          <p class="best-practice-info__title ui text size-textxs">Lignin Market</p>
                          <p class="section__content-item--quinary ui text size-textxs">Paper Market</p>
                          <p class="section__content-item--senary-2 ui text size-textxs">Heat Market</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__column--secondary">
                  <div class="section__column--tertiary">
                    <p class="section__title-1 ui text size-text3xl">MCA Analysis</p>
                    <div class="section__stack">
                      <img src="{% static 'images/img_group_1147.svg' %}" alt="Mca Analysis Image" class="section__image-1" />
                      <div class="section__stack--nested">
                        <div class="section__column--quaternary-1">
                          <div class="section__content-row--eighth">
                            <h2 class="section__content-item--octonary-4 ui heading size-headingxs">
                              Pulp <br />Production
                            </h2>
                            <h3 class="section__content-item--nonary-8 ui heading size-headingmd">D</h3>
                            <p class="section__content-item--denary-6 ui text size-textxs">Pulp</p>
                          </div>
                          <div class="section__content-row--ninth">
                            <h4 class="section__content-item--denary-1 ui heading size-headingxs">Chipping</h4>
                            <h5 class="section__content-item--nonary-3 ui heading size-headingxs">
                              Wood<br />Manufacturing &<br />Bioenergy<br />Generation
                            </h5>
                          </div>
                          <div class="section__content-row--tenth">
                            <h6 class="section__content-item--ternary-5 ui heading size-headingmd">A</h6>
                            <p class="section__content-item--denary-6 ui text size-textxs">Wood</p>
                            <p class="section__content-item--quinary-5 ui heading size-headingmd">B</p>
                            <p class="section__content-item--denary-6 ui text size-textxs">Industrial Wood</p>
                            <p class="section__content-item--septenary-5 ui heading size-headingmd">C</p>
                            <p class="section__content-item--octonary-5 ui text size-textxs">Bark & Bioenergy</p>
                          </div>
                        </div>
                        <div class="section__content-row--eleventh">
                          <p class="section__content-item--nonary-3 ui heading size-headingxs">
                            Paperboard<br />Production
                          </p>
                          <div class="section__content-row--twelfth">
                            <p class="section__content-item--denary-1 ui heading size-headingmd">Q</p>
                            <p class="section__content-item--undenary-7 ui text size-textxs">Other Materials</p>
                          </div>
                        </div>
                        <div class="section__column--quinary-1">
                          <div class="section__content-row--thirteenth">
                            <p class="section__content-item--denary-1 ui heading size-headingmd">F</p>
                            <p class="section__content-item--denary-6 ui text size-textxs">Lignin</p>
                            <p class="section__content-item--quaternary-7 ui heading size-headingmd">T</p>
                            <p class="section__content-item--undenary-7 ui text size-textxs">Adhesive</p>
                          </div>
                          <div class="section__content-row--fourteenth">
                            <p class="section__content-item--denary-1 ui heading size-headingxs">Energy Regeneration</p>
                            <div class="section__content-row--fifteenth">
                              <div class="section__content-row--sixteenth">
                                <p class="section__content-item--denary-1 ui heading size-headingmd">R</p>
                                <p class="section__content-item--undenary-7 ui text size-textxs">Vapor</p>
                              </div>
                              <div class="section__content-row--eighteenth">
                                <p class="section__content-item--denary-1 ui heading size-headingmd">U</p>
                                <p class="section__content-item--undenary-7 ui text size-textxs">Polymar</p>
                              </div>
                            </div>
                          </div>
                          <div class="section__content-row--eighteenth">
                            <p class="section__content-item--denary-1 ui heading size-headingmd">H</p>
                            <p class="section__content-item--undenary-7 ui text size-textxs">Paperboard</p>
                          </div>
                          <div class="section__content-row--eighteenth">
                            <p class="section__content-item--denary-1 ui heading size-headingmd">I</p>
                            <p class="section__content-item--undenary-7 ui text size-textxs">Turpentine</p>
                          </div>
                          <div class="section__content-row--twentieth">
                            <div class="section__content-row--twenty-first">
                              <p class="section__content-item--denary-1 ui heading size-headingmd">J</p>
                              <p class="section__content-item--undenary-7 ui text size-textxs">Tall oil</p>
                            </div>
                            <div class="section__content-row--eighteenth">
                              <p class="section__content-item--denary-1 ui heading size-headingmd">R</p>
                              <p class="section__content-item--undenary-7 ui text size-textxs">
                                Bioenergy from paperboard production
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="section__column--senary-1">
                          <p class="section__content-item--nonary-4 ui heading size-headingxs">Lignin Extraction</p>
                          <div class="section__content-row--twenty-third">
                            <div class="section__content-row--twenty-fourth">
                              <p class="section__content-item--denary-1 ui heading size-headingmd">E</p>
                              <p class="section__content-item--denary-6 ui text size-textxs">Black Liquor</p>
                            </div>
                            <div class="section__content-row--twenty-fifth">
                              <p class="section__content-item--denary-1 ui heading size-headingmd">G</p>
                              <div class="section__content-row--twenty-sixth">
                                <div class="section__content-column--nested-1">
                                  <p class="section__content-item--ternary-11 ui text size-textxs">
                                    Bioenergy from black liquor
                                  </p>
                                  <p class="section__content-item--quaternary-12 ui heading size-headingmd">S</p>
                                </div>
                                <p class="section__content-item--quinary-10 ui text size-textxs">Anode Material</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="section__column--septenary">
                          <p class="section__content-item--senary-3 ui heading size-headingxs">Bioenergy for pulping</p>
                          <div class="section__content-row--forty-fourth">
                            <p class="section__content-item--septenary-6 ui heading size-headingxs">
                              Digestion & Separation
                            </p>
                            <p class="section__content-item--octonary-6 ui heading size-headingxs">
                              Bioenergy generation
                            </p>
                          </div>
                        </div>
                        <p class="section__content-item--nonary ui heading size-headingxs">Vapor generation</p>
                      </div>
                    </div>
                  </div>
                  <div class="section__column--octonary">
                    <div class="section__line"></div>
                    <div class="section__list">
                      <div class="data-mapping-display">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Target</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Chipping</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">
                          Wood Manufacturing & Bioenergy generation
                        </p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Pulp Production</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Digestion & Separation</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Turpentine Production</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Tall Oil Production</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Paperboard production</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Paperboard production</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Lingin Extraction</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">
                          Higher value lignin application
                        </p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">
                          Higher value lignin application
                        </p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">
                          Higher value lignin application
                        </p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Bionerergy generation</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Bioenergy for pulping</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Vapor generation</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                      <div class="data-mapping-display-1">
                        <p class="ui heading size-headings">Source</p>
                        <p class="data-mapping-display__target ui heading size-headings">Energy Regeneration</p>
                        <p class="data-mapping-display__target ui heading size-headings">Unit</p>
                        <p class="data-mapping-display__target ui heading size-headings">Value</p>
                        <p class="data-mapping-display__target ui heading size-headings">Time step</p>
                        <p class="data-mapping-display__target ui heading size-headings">Link Label</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__column--nonary">
                  <div class="section__stack--secondary">
                    <div class="section__stack--tertiary">
                      <div class="section__content-row--twenty-eighth">
                        <p class="best-practice-info__title ui text size-textxs">Forestry</p>
                        <p class="section__content-item--undenary ui heading size-headingmd">P</p>
                        <p class="section__content-item--duodenary ui text size-textxs">Material Inflow</p>
                      </div>
                      <div class="section__content-column--secondary">
                        <div class="section__content-row--twenty-ninth">
                          <p class="section__content-item--ternary ui text size-textxs">Chipping</p>
                          <p class="section__content-item--quaternary-1 ui text size-textxs">Wood Market</p>
                          <p class="section__content-item--quinary-1 ui text size-textxs">Turpentline Market</p>
                        </div>
                        <p class="section__content-item--senary ui heading size-headingmd">R</p>
                      </div>
                      <div class="section__column--decenary">
                        <div class="section__row--quaternary">
                          <p class="section__content-item--septenary ui heading size-headingmd">A</p>
                          <div class="section__content-row--thirty-first">
                            <p class="section__content-item--octonary-7 ui heading size-headingmd">B</p>
                            <div class="section__content-row--thirty-second">
                              <p class="section__content-item--denary-1 ui heading size-headingmd">E</p>
                              <p class="section__content-item--octonary-7 ui heading size-headingmd">Q</p>
                            </div>
                          </div>
                        </div>
                        <div class="section__content-row--thirty-third">
                          <p class="best-practice-info__title ui text size-textxs">Evaporation</p>
                          <div class="section__content-row--thirty-fourth">
                            <p class="section__content-item--duodenary-8 ui text size-textxs">Combustion</p>
                            <p class="section__content-item--septenary-1 ui text size-textxs">Energy Regeneration</p>
                          </div>
                        </div>
                        <div class="section__content-row--thirty-fifth">
                          <div class="section__content-row--thirty-sixth">
                            <p class="section__content-item--denary-1 ui heading size-headingmd">C</p>
                            <p class="section__content-item--septenary-1 ui text size-textxs">Digestion & Separation</p>
                          </div>
                          <div class="section__content-row--thirty-seventh">
                            <p class="section__content-item--senary-9 ui heading size-headingmd">D</p>
                            <div class="section__content-row--thirty-eighth">
                              <p class="section__content-item--denary-1 ui heading size-headingmd">N</p>
                              <p class="section__content-item--octonary-9 ui text size-textxs">Energy Market</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section__content-row--thirty-ninth">
                        <p class="best-practice-info__title ui text size-textxs">Paperboard Production</p>
                        <div class="section__content-row--fortieth">
                          <p class="section__content-item--denary-1 ui heading size-headingmd">I</p>
                          <p class="section__content-item--undenary-2 ui text size-textxs">Paper Market</p>
                        </div>
                      </div>
                      <div class="section__column--undecenary">
                        <div class="section__content-row--forty-first">
                          <p class="section__content-item--duodenary-1 ui heading size-headingmd">O</p>
                          <div class="section__content-row--forty-second">
                            <p class="section__content-item--octonary-7 ui heading size-headingmd">H</p>
                            <div class="section__content-row--forty-third">
                              <p class="section__content-item--quaternary-10 ui heading size-headingmd">J</p>
                              <p class="best-practice-info__title ui text size-textxs">Heat Market</p>
                            </div>
                          </div>
                        </div>
                        <p class="section__content-item--senary-1 ui text size-textxs">Energy Inflow</p>
                      </div>
                      <div class="section__column--duodenary">
                        <div class="section__content-row--forty-fourth">
                          <p class="section__content-item--septenary-1 ui text size-textxs">Tall Oil Market</p>
                          <p class="section__content-item--octonary ui heading size-headingmd">M</p>
                        </div>
                        <p class="section__content-item--nonary-2 ui heading size-headingmd">L</p>
                      </div>
                    </div>
                  </div>
                  <div class="section__column--tertiary-1">
                    <div class="section__row-1">
                      <div class="section__column--nested">
                        <div class="section__stack--quaternary">
                          <p class="section__content-item--denary-2 ui text size-texts">Wood</p>
                          <div class="section__content-row--forty-fifth">
                            <p class="section__content-item--denary-1 ui text size-texts">A</p>
                          </div>
                        </div>
                        <div class="section__stack--quinary">
                          <div class="section__content-row--forty-sixth">
                            <p class="section__content-item--denary-1 ui text size-texts">B</p>
                            <p class="section__content-item--denary-1 ui text size-texts">Industrial Wood</p>
                          </div>
                          <div class="section__view"></div>
                        </div>
                        <div class="section__content-row--forty-seventh">
                          <p class="section__content-item--denary-1 ui text size-texts">C</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Wood Products & Bioenergy</p>
                        </div>
                        <div class="section__content-row--forty-eighth">
                          <p class="section__content-item--denary-1 ui text size-texts">D</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Pulp</p>
                        </div>
                        <div class="section__content-row--forty-ninth">
                          <p class="section__content-item--denary-1 ui text size-texts">E</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Black Liquor</p>
                        </div>
                        <div class="section__content-row--forty-ninth">
                          <p class="section__content-item--denary-1 ui text size-texts">F</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Lignin</p>
                        </div>
                        <div class="section__content-row--fifty-first">
                          <p class="section__content-item--denary-1 ui text size-texts">G</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Bioenergy from black liquor</p>
                        </div>
                        <div class="section__content-row--forty-seventh">
                          <p class="section__content-item--denary-1 ui text size-texts">H</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Paperboard</p>
                        </div>
                        <div class="section__content-row--fifty-third">
                          <p class="section__content-item--denary-1 ui text size-texts">I</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Turpentine</p>
                        </div>
                        <div class="section__content-row--fifty-fourth">
                          <p class="section__content-item--denary-1 ui text size-texts">J</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Tall oil</p>
                        </div>
                      </div>
                    </div>
                    <div class="section__content-row--fifty-fifth">
                      <div class="footer__column">
                        <div class="section__content-row--fifty-sixth">
                          <p class="section__content-item--denary-1 ui text size-texts">P</p>
                          <p class="section__content-item--undenary-4 ui text size-texts">
                            Bioenergy from paperboard production
                          </p>
                        </div>
                        <div class="section__content-row--forty-seventh">
                          <p class="section__content-item--denary-1 ui text size-texts">Q</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Other Materials</p>
                        </div>
                        <div class="section__content-row--forty-ninth">
                          <p class="section__content-item--denary-1 ui text size-texts">R</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Vapor</p>
                        </div>
                        <div class="section__content-row--forty-ninth">
                          <p class="section__content-item--denary-1 ui text size-texts">S</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Anode material</p>
                        </div>
                        <div class="section__content-row--forty-ninth">
                          <p class="section__content-item--denary-1 ui text size-texts">T</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Adhesive</p>
                        </div>
                        <div class="section__content-row--forty-seventh">
                          <p class="section__content-item--denary-1 ui text size-texts">U</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Polymer</p>
                        </div>
                        <div class="section__content-row--sixty-second">
                          <p class="section__content-item--denary-1 ui text size-texts">N</p>
                          <p class="section__content-item--denary-1 ui text size-texts">Energy market</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="section__column--quaternary">
                  <div class="section__row--secondary">
                    <p class="section__title-1 ui text size-text3xl">Senarios</p>
                  </div>
                  <div class="section__column--quinary">
                    <p class="section__title-1 ui text size-text3xl">Senario 1</p>
                    <p class="section__subtitle ui text size-text2xl">Pongau</p>
                    <div class="section__row--tertiary">
                      <div class="section__row--quaternary">
                        <div class="section__stack--sixth">
                          <div class="section__column--nested-tertiary">
                            <button class="section__button ui button light_green_500 size-sm fill round">
                              Food Waste
                            </button>
                            <div class="section__content-row--sixty-third">
                              <div class="section__column--nested-quaternary">
                                <div class="section__column--nested-quinary">
                                  <div class="section__line--secondary"></div>
                                  <div class="section__line--tertiary"></div>
                                </div>
                              </div>
                              <img
                                src="{% static 'images/img_vector_9.svg' %}"
                                alt="Vector Nine One Image"
                                class="section__image--secondary"
                              />
                            </div>
                          </div>
                          <div class="section__column--nested-senary">
                            <div class="section__content-row--sixty-fourth">
                              <p class="section__content-item--quaternary-11 ui text size-texts">
                                Collection of cooking oil residues<br />in PET - flascs
                              </p>
                            </div>
                            <div class="section__line--quaternary"></div>
                            <button class="section__button--secondary ui button teal_400_01 size-sm fill round">
                              Waste oi ton
                            </button>
                          </div>
                          <div class="section__column--nested-septenary">
                            <button class="section__button--tertiary ui button lime_700 size-sm fill round">
                              Breads/bakery products
                            </button>
                            <button class="section__button--quaternary ui button lime_700 size-sm fill round">
                              Brewery
                            </button>
                            <button class="section__button--quaternary ui button lime_700 size-sm fill round">
                              Bakery
                            </button>
                          </div>
                        </div>
                        <button class="section__button--senary ui button teal_400_01 size-sm fill round">Vienna</button>
                      </div>
                    </div>
                    <p class="section__note ui text size-textlg">
                      Note<br />What was also discussed in workshop 1: Ton for originally packaged food (packaging
                      problematic for biogas plant)
                    </p>
                  </div>
                  <div class="section__column--quinary">
                    <p class="section__title-1 ui text size-text3xl">Senario 2</p>
                    <p class="section__subtitle ui text size-text2xl">Pongau</p>
                    <div class="section__row--quinary">
                      <div>
                        <div class="header__menu-item">
                          <p class="section__content-item--quaternary-5 ui text size-texts">
                            Sewage treatment plant, digester, biogas plant (in Radstadt)
                          </p>
                          <div class="section__content-row--sixty-fifth">
                            <div class="section__column--nested-nenary">
                              <div class="section__stack--seventh">
                                <div class="section__column--nested-decenary">
                                  <div class="stackvectorfift__column--challenge-1">
                                    <div class="section__column--nested-duodenary">
                                      <div class="section__column--nested-tertiary-secondary">
                                        <button
                                          class="section__button--septenary ui button teal_400_01 size-xs fill round"
                                        >
                                          Food waste
                                        </button>
                                        <div class="section__line--quinary"></div>
                                        <p class="section__content-item--quinary-12 ui text size-texts">Biogas</p>
                                      </div>
                                      <div class="section__row--septenary">
                                        <div class="section__main__stack__column__stack__info__row__icons__user">
                                          <img
                                            src="{% static 'images/img_group_63.svg' %}"
                                            alt="Vector Thirty One Image"
                                            class="section__image--tertiary"
                                          />
                                          <div class="section__column--nested-tertiary-tertiary">
                                            <p class="section__content-item--senary-12 ui text size-texts">Garreste</p>
                                            <p class="section__content-item--nonary-12 ui text size-texts">CO2</p>
                                          </div>
                                        </div>
                                        <div class="section__row--nonary">
                                          <div class="section__row--denary">
                                            <img
                                              src="{% static 'images/img_group_1102.svg' %}"
                                              alt="Image Five"
                                              class="section__image--quaternary"
                                            />
                                            <img
                                              src="{% static 'images/img_vector_9.svg' %}"
                                              alt="Vector Twenty Five Image"
                                              class="section__image--quinary"
                                            />
                                          </div>
                                          <div class="section__row--undenary">
                                            <div class="section__line--senary"></div>
                                            <div class="section__line--septenary"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="section__content-row--sixty-sixth">
                                      <p class="section__title ui text size-texts">Vegetable/ fruit cultivation?</p>
                                    </div>
                                  </div>
                                  <button class="section__button--octonary ui button green_800 size-xs outline round">
                                    Electricity grid
                                  </button>
                                </div>
                                <div class="section__row--duodenary">
                                  <div class="section__row--tertiary-secondary">
                                    <p class="section__content-item--nonary-12 ui text size-texts">Energy</p>
                                    <div class="section__line--octonary"></div>
                                  </div>
                                  <p class="section__content-item--denary-12 ui text size-texts">Sunflowers</p>
                                </div>
                                <div class="section__row--quaternary-secondary">
                                  <p class="section__content-item--undenary-12 ui text size-texts">
                                    Sewage treatment plant
                                  </p>
                                  <button class="section__button--nonary ui button teal_400_03 size-xs fill round">
                                    Humification basin
                                  </button>
                                </div>
                              </div>
                              <div class="section__row--quinary-secondary">
                                <div class="section__line--nonary"></div>
                                <p class="section__content-item--duodenary-12 ui text size-texts">Energy</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="sewage-text ui text size-textlg">
                      Sewage treatment plant is allowed to process 6000 t of food residues
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "footer.html" %}

    </div>
  </body>
</html>
