/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.user-profile-text {
    background-color: var(--white_a700);
    width: 24%;
    display: flex;
    justify-content: center;
    padding: 106px 56px;
    border-radius: var(--radius-md);
    border: 1px solid var(--teal_50_02);
    @media only screen and (max-width: 1050px) {
      width: 100%;
      padding: var(--space-md);
    }
  }
  
  .column-explore__title {
    color: var(--teal_700_01) !important;
    font-family: Jost !important;
  }
  
  .footer__social-icon--facebook {
    height: 24px;
    width: 24px;
  }
  
  /*-------------------------------------
    2. Page CSS
  --------------------------------------*/
  .f-home {
    background-color: var(--gray_50);
    width: 100%;
  }
  
  .header {
    display: flex;
    background-color: var(--white_a700);
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    padding: 12px var(--space-lg);
    @media only screen and (max-width: 550px) {
      flex-direction: column;
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
  
  .header__logo {
    height: 36px;
    width: 116px;
    object-fit: contain;
  }
  
  .header__menu {
    margin-right: 116px !important;
    gap: 24px;
    display: flex;
    align-items: start;
    @media only screen and (max-width: 1050px) {
      margin-right: 0px;
    }
  
    @media only screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  
  .header__menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header__menu-link {
    color: var(--b_text) !important;
  }
  
  .header__menu-view {
    height: 3px;
    background-color: var(--b_text);
    width: 3px;
    border-radius: var(--radius-xs);
  }
  
  .newscreenbody {
    margin-top: 48px;
  }
  
  .stackvectorfift {
    height: 592px;
    padding-left: 38px;
    padding-right: 38px;
    position: relative;
    @media only screen and (max-width: 1050px) {
      height: auto;
    }
  
    @media only screen and (max-width: 550px) {
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
  
  .home__image {
    height: 148px;
    margin-top: 74px;
    margin-left: 38px;
    width: 8%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
    }
  }
  
  .stack {
    height: 592px;
    background-image: url('../images/img_group_15.png');
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    position: absolute;
    align-content: center;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    margin: auto;
    border-radius: var(--radius-md);
    @media only screen and (max-width: 1050px) {
      height: auto;
    }
  }
  
  .stack__settings {
    height: 588px;
    flex: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .stack__settings-image {
    height: 588px;
    width: 48%;
    object-fit: contain;
    position: absolute;
    right: 1px;
    bottom: 0px;
    top: 0px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: var(--radius-md);
  }
  
  .stack__settings-row {
    display: flex;
    align-items: start;
    position: absolute;
    bottom: 35%;
    right: 0px;
    left: 0px;
    margin: auto;
  }
  
  .stack__settings-row-iconbutton {
    height: 52px;
    margin-top: 12px;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    align-self: end;
    background-color: var(--white_a700) !important;
    width: 52px;
    border-radius: 26px !important;
  }
  
  .stack__settings-row-iconbutton--settings {
    height: 52px;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    background-color: var(--white_a700) !important;
    width: 52px;
    border-radius: 26px !important;
  }
  
  .stack__welcome {
    flex: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    margin: auto 90px;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
  .stack__welcome-column {
    display: flex;
    flex-direction: column;
  }
  
  .stack__welcome-column-text--title {
    color: var(--teal_700) !important;
    font-family: Jost !important;
    line-height: 155%;
  }
  
  .stack__welcome-column-text--description {
    color: var(--teal_700) !important;
    margin-top: 16px;
    font-family: Jost !important;
    text-align: justify;
    font-weight: 200 !important;
    width: 42%;
    line-height: 155%;
    font-style: italic !important;
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  
  .stack__welcome-column-row {
    margin-top: 76px;
    margin-left: 148px;
    margin-right: 148px;
    gap: var(--space-sm);
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
  .stack__welcome-column-row-button--regional {
    color: var(--blue_gray_700) !important;
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    font-size: 14px;
    background-color: var(--teal_50_02) !important;
    height: 40px;
    min-width: 196px;
    border-radius: 20px !important;
  }
  
  .stack__welcome-column-row-button--explore {
    color: var(--gray_200) !important;
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    font-size: 14px;
    background-color: var(--cyan_700) !important;
    height: 38px;
    min-width: 138px;
    border-radius: 18px !important;
  }
  
  .stack__image {
    height: 140px;
    flex: 1;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
  }
  
  .columnline {
    margin-top: 88px;
    padding-left: 56px;
    padding-right: 56px;
    gap: var(--space-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
  
  .line {
    height: 1px;
    background-color: var(--teal_50);
    width: 90%;
    border-radius: var(--radius-xs);
  }
  
  .column-explore {
    gap: var(--space-lg);
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  
  .column-explore__list {
    gap: var(--space-lg);
    display: flex;
    align-self: stretch;
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
    }
  }
  
  .column {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .faq {
    gap: var(--space-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
  
  .faq__divider {
    height: 1px;
    margin-right: 38px;
    background-color: var(--gray_200_01);
    align-self: stretch;
    @media only screen and (max-width: 1050px) {
      margin-right: 0px;
    }
  }
  
  .faq__list {
    gap: var(--space-md);
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }
  
  .case-studies-column {
    display: flex;
    background-color: var(--white_a700);
    flex: 1;
    flex-direction: column;
    padding: 36px var(--space-lg);
    border-radius: var(--radius-sm);
    @media only screen and (max-width: 1050px) {
      gap: var(--space-sm);
    }
  
    @media only screen and (max-width: 550px) {
      padding: var(--space-md);
    }
  }
  
  .faq__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-md);
    position: relative;
    cursor: pointer;
    @media only screen and (max-width: 550px) {
      flex-direction: column;
    }
  
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      left: auto;
      top: 50%;
      transform: translate(-50%, -50%);
      aspect-ratio: 1;
      background-image: url('../images/img_plus.svg');
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: center;
    }
  }
  
  details[open] .faq__item::before {
    background-image: url('../images/img_television.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}
  
  .faq__item--expanded {
    margin-right: 4px;
    margin-top: 16px;
    @media only screen and (max-width: 1050px) {
      margin-right: 0px;
    }
  }
  
  .faq__answer {
    color: var(--blue_gray_800) !important;
    line-height: 155%;
  }
  
  .footer {
    margin-top: 88px;
    display: flex;
  }
  
  .footer__column {
    width: 100%;
  }
  
  .footer__top-row {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--teal_100);
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
      padding-top: var(--space-md);
      padding-bottom: var(--space-md);
    }
  }
  
  .footer__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
  
  .footer__logo {
    height: 70px;
    width: 18%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  
  .footer__navigation {
    margin-right: 40px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    @media only screen and (max-width: 1050px) {
      width: 100%;
      margin-right: 0px;
    }
  
    @media only screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  
  .footer__nav-list {
    gap: var(--space-sm);
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer__social-media {
    gap: var(--space-sm);
    display: flex;
  }
  
  .footer__bottom-row {
    background-color: var(--gray_50_01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    padding: 10px 58px;
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
  
  .footer__info-container {
    margin-left: 68px;
    gap: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
    }
  }
  
  .footer__info-icon--copyright {
    height: 16px;
    width: 16px;
  }
  
  .footer__qr-container {
    margin-top: 6px;
    align-self: end;
    width: 24%;
    display: flex;
    justify-content: space-between;
    gap: var(--space-md);
    @media only screen and (max-width: 1050px) {
      align-self: auto;
      width: 100%;
    }
  }
  
  .footer__qr-icon {
    height: 46px;
    object-fit: cover;
  }
  
  .footer__eu-logo {
    height: 46px;
    width: 70%;
    object-fit: contain;
  }
  